// Colors
$primary: hsl(10, 79%, 65%);
$secondary: hsl(186, 34%, 60%);
$brown: hsl(25, 47%, 15%);
$brown2: hsl(28, 10%, 53%);
$creme: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $pale-orange;
}

.card {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__current {
    max-width: 30%;
    width: 100%;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1.5rem 1rem;
    color: $creme;
  }

  &__dtext {
    color: #ccc;
    font-size: 0.8rem;
  }

  &__number {
    padding: 0.5rem 0;

    &--big {
      font-size: 2rem;
    }
  }

  &__calculation {
    max-width: 30%;
    width: 100%;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 15px;
    padding: 1.5rem 1rem;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem 0 0;
    border-top: 1px solid $creme;
  }

  &__title {
    font-size: 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
