@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: hsl(33deg, 100%, 98%);
}

.card__container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card__current {
  max-width: 30%;
  width: 100%;
  background-color: hsl(10deg, 79%, 65%);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 1.5rem 1rem;
  color: hsl(27deg, 66%, 92%);
}
.card__dtext {
  color: #ccc;
  font-size: 0.8rem;
}
.card__number {
  padding: 0.5rem 0;
}
.card__number--big {
  font-size: 2rem;
}
.card__calculation {
  max-width: 30%;
  width: 100%;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem 1rem;
}
.card__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem 0 0;
  border-top: 1px solid hsl(27deg, 66%, 92%);
}
.card__title {
  font-size: 1.5rem;
}
.card__days {
  color: rgba(204, 204, 204, 0.8);
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.percentage::before {
  content: "";
  display: block;
  background-color: red;
}

.percentage-20:after {
  width: 20%;
}

.percentage-30:after {
  width: 30%;
}

.percentage-1:before {
  height: 1%;
}

.percentage-2:before {
  height: 2%;
}

.percentage-3:before {
  height: 3%;
}

.percentage-4:before {
  height: 4%;
}

.percentage-5:before {
  height: 5%;
}

.percentage-6:before {
  height: 6%;
}

.percentage-7:before {
  height: 7%;
}

.percentage-8:before {
  height: 8%;
}

.percentage-9:before {
  height: 9%;
}

.percentage-10:before {
  height: 10%;
}

.percentage-11:before {
  height: 11%;
}

.percentage-12:before {
  height: 12%;
}

.percentage-13:before {
  height: 13%;
}

.percentage-14:before {
  height: 14%;
}

.percentage-15:before {
  height: 15%;
}

.percentage-16:before {
  height: 16%;
}

.percentage-17:before {
  height: 17%;
}

.percentage-18:before {
  height: 18%;
}

.percentage-19:before {
  height: 19%;
}

.percentage-20:before {
  height: 20%;
}

.percentage-21:before {
  height: 21%;
}

.percentage-22:before {
  height: 22%;
}

.percentage-23:before {
  height: 23%;
}

.percentage-24:before {
  height: 24%;
}

.percentage-25:before {
  height: 25%;
}

.percentage-26:before {
  height: 26%;
}

.percentage-27:before {
  height: 27%;
}

.percentage-28:before {
  height: 28%;
}

.percentage-29:before {
  height: 29%;
}

.percentage-30:before {
  height: 30%;
}

.percentage-31:before {
  height: 31%;
}

.percentage-32:before {
  height: 32%;
}

.percentage-33:before {
  height: 33%;
}

.percentage-34:before {
  height: 34%;
}

.percentage-35:before {
  height: 35%;
}

.percentage-36:before {
  height: 36%;
}

.percentage-37:before {
  height: 37%;
}

.percentage-38:before {
  height: 38%;
}

.percentage-39:before {
  height: 39%;
}

.percentage-40:before {
  height: 40%;
}

.percentage-41:before {
  height: 41%;
}

.percentage-42:before {
  height: 42%;
}

.percentage-43:before {
  height: 43%;
}

.percentage-44:before {
  height: 44%;
}

.percentage-45:before {
  height: 45%;
}

.percentage-46:before {
  height: 46%;
}

.percentage-47:before {
  height: 47%;
}

.percentage-48:before {
  height: 48%;
}

.percentage-49:before {
  height: 49%;
}

.percentage-50:before {
  height: 50%;
}

.percentage-51:before {
  height: 51%;
}

.percentage-52:before {
  height: 52%;
}

.percentage-53:before {
  height: 53%;
}

.percentage-54:before {
  height: 54%;
}

.percentage-55:before {
  height: 55%;
}

.percentage-56:before {
  height: 56%;
}

.percentage-57:before {
  height: 57%;
}

.percentage-58:before {
  height: 58%;
}

.percentage-59:before {
  height: 59%;
}

.percentage-60:before {
  height: 60%;
}

.percentage-61:before {
  height: 61%;
}

.percentage-62:before {
  height: 62%;
}

.percentage-63:before {
  height: 63%;
}

.percentage-64:before {
  height: 64%;
}

.percentage-65:before {
  height: 65%;
}

.percentage-66:before {
  height: 66%;
}

.percentage-67:before {
  height: 67%;
}

.percentage-68:before {
  height: 68%;
}

.percentage-69:before {
  height: 69%;
}

.percentage-70:before {
  height: 70%;
}

.percentage-71:before {
  height: 71%;
}

.percentage-72:before {
  height: 72%;
}

.percentage-73:before {
  height: 73%;
}

.percentage-74:before {
  height: 74%;
}

.percentage-75:before {
  height: 75%;
}

.percentage-76:before {
  height: 76%;
}

.percentage-77:before {
  height: 77%;
}

.percentage-78:before {
  height: 78%;
}

.percentage-79:before {
  height: 79%;
}

.percentage-80:before {
  height: 80%;
}

.percentage-81:before {
  height: 81%;
}

.percentage-82:before {
  height: 82%;
}

.percentage-83:before {
  height: 83%;
}

.percentage-84:before {
  height: 84%;
}

.percentage-85:before {
  height: 85%;
}

.percentage-86:before {
  height: 86%;
}

.percentage-87:before {
  height: 87%;
}

.percentage-88:before {
  height: 88%;
}

.percentage-89:before {
  height: 89%;
}

.percentage-90:before {
  height: 90%;
}

.percentage-91:before {
  height: 91%;
}

.percentage-92:before {
  height: 92%;
}

.percentage-93:before {
  height: 93%;
}

.percentage-94:before {
  height: 94%;
}

.percentage-95:before {
  height: 95%;
}

.percentage-96:before {
  height: 96%;
}

.percentage-97:before {
  height: 97%;
}

.percentage-98:before {
  height: 98%;
}

.percentage-99:before {
  height: 99%;
}

.percentage-100:before {
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=index.css.map */